<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <main>
            <div class="container"></div>
            <div class="title">
                <p class="description">
                    This web application will allow users to <strong>brief description of what the app does</strong>.
                </p>
                <h1>Here our team!</h1>

                <div class="team">
                    <div class="card">
                        <ul>
                            <li><h3>Alisher</h3>
                            Position: Team Lead, Node.js</li>
                        </ul>
                    </div>
                    <div class="card">
                        <ul>
                            <li><h3>Alexander</h3>
                            Position: Visual, CSS, node.js</li>
                        </ul>
                    </div>
                    <div class="card">
                        <ul>
                            <li><h3>Daryn</h3>
                            Position: HTML, node.js</li>
                        </ul>
                    </div>
                    <div class="card">
                        <ul>
                            <li><h3>Arlan</h3>
                            Position: Back end, node.js</li>
                        </ul>
                    </div>
                </div>

                <div class="descr">
                    <h3>
                        Our website is an movie platform where users 
                        can watch films and TV series, leave reviews, and create personal lists of favorite movies. 
                        The platform provides detailed information about each film.
                    </h3>
                </div>

                <div class="future">
                    <table>
                        <tr>
                            <th>Feature</th>
                            <th>Info</th>
                        </tr>
                        <tr>
                            <td>Register/Log in</td>
                            <td>Allows users to create a new account or sign in to an existing one in order to access personalized features.</td>
                        </tr>
                        <tr>
                            <td>Watch Movie</td>
                            <td>Enables users view available movies and TV series directly on the platform.</td>
                        </tr>
                        <tr>
                            <td>Description of Movie/TV series</td>
                            <td>Provides detailed information about each film, including plot description, cast, genre, release year, and other relevant details.</td>
                        </tr>
                        <tr>
                            <td>Reviews</td>
                            <td>Displays user or critic reviews for each movie and allows users by API.</td>
                        </tr>
                        <tr>
                            <td>Mark Films</td>
                            <td>Lets users bookmark, like, or mark films so they are saved in a different list.</td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>
    </body>

</html>