<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="container">

                </div>
            </nav>
        </header>

        <main>
            <div class="container"></div>
            <div class="title">
                <h1>Here our team!</h1>
                <p class="description">
                    This web application will allow users to <strong>brief description of what the app does</strong>.
                </p>

                <div class="container">
                    <div class="box">
                        <li>
                            <ul>Name: Alisher</ul>
                            <ul>Posithion: Team Lead, Node.js</ul>
                        </li>
                        <li>
                            <ul>Name: Alexander</ul>
                            <ul>Posithion: Visual, CSS, node.js</ul>
                        </li>
                        <li>
                            <ul>Name: Daryn</ul>
                            <ul>Posithion: HTML, node.js</ul>
                        </li>
                        <li>
                            <ul>Name: Arlan</ul>
                            <ul>Posithion: HTML, Node.js, CSS</ul>
                        </li>
                    </div>

                    <div class="descr">
                        <h3>
                            Our website is a domestic version of Netflix at the kinopoisk level. On this site, you can watch videos, leave reviews, make a list of your favorite movies, and other things that streaming services can do. Here you will find all the latest news from the film industry in high quality and with different voice acting.
                        </h3>
                    </div>

                    <div class="future">
                        <table>
                                <th>Feature</th>
                                <th>Info</th>
                            </tr>
                            <tr>
                                <td>Register/Log in</td>
                                <td>Allows users to create a new account or sign in to an existing one in order to access personalized features.</td>
                            </tr>
                            <tr>
                                <td>Watch Movie</td>
                                <td>Enables users to stream and view available movies directly on the platform.</td>
                            </tr>
                            <tr>
                                <td>Description of Film</td>
                                <td>Provides detailed information about each film, including plot summary, cast, genre, release year, and other relevant details.</td>
                            </tr>
                            <tr>
                                <td>Reviews</td>
                                <td>Displays user or critic reviews for each movie and allows users by API.</td>
                            </tr>
                            <tr>
                                <td>Mark Films</td>
                                <td>Lets users bookmark, like, or mark films as favorites to easily find them later or create personalized lists.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>
    </body>

</html>