@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
body {
    background-color: #0C0B0B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.title {
    text-align: center;
    margin-top: 50px;
}
.project-name {
    font-size: 2.5em;
    color: #B8B8B8;
    margin-bottom: 30px;
}
.team-members{
    color: #B8B8B8;
    margin-bottom: 2rem;
}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background-color: #161515;;
    color: #FFF;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.descr {
    background-color: #161515;
    color: #FFF;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.descr h3 {
    margin-bottom: 15px;
}

.features {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.future {
    display: grid;;
    background-color: #161515;
    color: #FFF;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.future td {
    padding: 15px;
}