@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
*{
    font-family: 'Oswald', sans-serif;  
}
body {
    background-color: #0C0B0B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .logo{
    color: #FFF;
}
.title {
    text-align: center;
    margin-top: 50px;
}
.project-name {
    font-size: 2.5em;
    color: #B8B8B8;
    margin-bottom: 30px;
}
.team-members{
    color: #B8B8B8;
    margin-bottom: 2rem;
}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background-color: #161515;;
    color: #FFF;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;      
    height: 200px;      
    object-fit: cover; 
}
.card h3{
    margin-top: 1rem;
}
.descr {
    background-color: #161515;
    color: #FFF;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.descr h3 {
    margin-bottom: 15px;
}

.features {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.future {
    display: grid;
    background-color: #161515;
    color: #FFF;
    font-size: 1.3rem;
    padding: 30px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.future td {
    padding: 15px;
}
footer{
    background: black;
    height: 30vh;

    padding: 40px 60px;

    display: flex;

    align-items: center;
}
footer p{
    color: #6A6A6A;
}
.footer-column h6 {
    color: #6A6A6A;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 0.5rem;
}
.footer-column ul li a {
    color: #C9C9C9;
    text-decoration: none;
}

/* отсюда уже contact us */

.message{
    background-color: #161515;
    width: 100%;         
    max-width: 566px;   
    flex-direction: column; 
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}

.form h2{
    color: #B8B8B8;
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label{
    color: #FFF;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea{
    background-color: #6A6A6A;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;

}

.form-group textarea{
    resize: none;
    min-height: 100px;
}
